/* Elimina padding del contenedor general para que no afecte el header */
body, html {
  margin: 0;
  padding: 0;
}

/* CONTENEDOR GENERAL CON MARGEN SUPERIOR PARA RESPETAR HEADER */
.admin-page {
  padding: 20px;
  color: var(--white);
  min-height: 100vh;
}

/* ya existentes */
.score-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: var(--gray);
}

.score-table th, .score-table td {
  padding: 12px;
  border: 1px solid var(--white);
  text-align: center;
}

.score-table th {
  background-color: var(--main-red);
  color: var(--white);
}

.score-table tr:nth-child(even) {
  background-color: var(--light-brown);
}

.stat-caja-destacada {
  border: 10px solid var(--main-red);
  padding: 20px;
  margin-top: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 1.3rem;
}

.stat-caja-destacada h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 900;
  color: var(--main-red);
}

.stat-caja-destacada p {
  margin: 8px 0;
  font-size: 1.3rem;
  font-weight: 900;
  color: black;
}

.stat-box-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.stat-box {
  border: 10px solid var(--main-red);
  padding: 15px 25px;
  border-radius: 8px;
  text-align: center;
  font-size: 1.1rem;
  min-width: 200px;
}

.stat-box p {
  margin: 8px 0;
  font-size: 1.8rem;
  font-weight: 900;
  color: black;
}

.stat-box h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: 900;
  color: var(--main-red);
}

.stat-box small {
  color: white;
}




