:root {
  --main-red: #c9302c;
  --light-brown: #4a2424;
  --gray: #aaa;
  --white: #fff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #fbe7dd 0%, #cd6a5c 100%);
  padding: 0;
}
