
/* Botones personalizados */
.instagram-btn, .facebook-btn {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  width: 200px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.instagram-btn {
  background-color: #E1306C; /* Rosa Instagram */
}

.facebook-btn {
  background-color: #3b5998; /* Azul Facebook */
}

.google-login-btn {
  margin: 10px 0;
}

.modal-content h2 {
  margin-bottom: 15px;
}

.modal-content p, .modal-content small {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}
